<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.5.2" />

  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebPhone.WebPhone">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding"
          bindingConfiguration="BasicHttpBinding" contract="WebPhone.IWebPhone" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="BasicHttpBinding">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <!--<serviceActivations>
        <add factory="System.ServiceModel.Activation.WebServiceHostFactory" relativeAddress="./WebMap.svc" service="WebMap.WebMap" />
      </serviceActivations>-->
    </serviceHostingEnvironment>
  </system.serviceModel>

  <system.webServer>

    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>
</configuration>
